# Needed for ReadTheDocs
attrs
asynq
dataclasses; python_version < '3.7'
qcore>=0.5.1
ast_decompiler>=0.4.0
six>=1.10.0
typeshed_client>=1.0.0
typing_inspect>=0.5.0
typing_extensions
mypy_extensions
aenum>=2.2.3
codemod
