name: main

on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:
    paths-ignore:
      - .gitignore
      - LICENSE

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: py38
            python: "3.8"
            toxenv: py38
          - name: py39
            python: "3.9"
            toxenv: py39
          - name: py310
            python: "3.10"
            toxenv: py310
          - name: py311
            python: "3.11"
            toxenv: py311
          - name: py312
            python: "3.12"
            toxenv: py312
          - name: black
            python: "3.12"
            toxenv: black
          - name: flake8
            python: "3.12"
            toxenv: flake8

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: install tox
        run: pip install --upgrade setuptools tox==4.11.3
      - name: setup tox environment
        run: tox -e ${{ matrix.toxenv }} --notest
      - name: test
        run: tox -e ${{ matrix.toxenv }}
